@model BookStore.Models.ViewModels.KeywordVm

@{
    ViewBag.Title = "Edit";
}

<h2>編輯關鍵詞</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>KeywordVm</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="mb-2">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" })
            <!-- div class="col-md-10"-->
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <!-- /div -->
        </div>

        <div class="mb-2">
            <!-- div class="col-md-offset-2 col-md-10" -->
            <input type="submit" value="修改" class="btn btn-primary" />
            <input type="button" id="btnDelete" value="刪除" class="btn btn-danger" />
            <!-- /div -->
        </div>
    </div>
}

@*
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    const btn = document.querySelector("#btnDelete")
    btn.addEventListener("click", () => {
        if (confirm("您確定要刪除此分類嗎"))
        {
            let form = btn.closest("form");
            form.action ="/Categories/Delete";
            form.submit();
        }

    })
</script>
}
